/*PRELOADER................................................*/
#loading {
  background: url('loading5.gif') no-repeat center center #000;
  height: 100%;
  width: 100%;
  z-index: 99999;
  position: fixed;
  margin-left: -18px;
  }
  body
  {
    overflow-x: hidden;
  }
/*PRELOADER ENDS..........................................*/

/*HOME ANIMATION STARTS HERE.............................*/


/*HOME ANIMATION STARTS HERE..............................*/



.bgimg-2, .bgimg-1 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bgimg-1 {
  background-image: url("img/parallax-img1.jpg");
  min-height: 400px;
  margin-left: -18px;
  margin-right: -25px;
  position: relative;
}

.bgimg-2 {
  background-image: url("img/temp1.jpg");
  min-height: 400px;
  margin-left: -18px;
  margin-right: -25px;
  position: relative;
}

.img-quotes {
  font-family: 'Quantico',sans-serif;
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
}

.caption {
  position: absolute;
  top: 15%;
  width: 100%;
  text-align: center;
  color: #000;
}

#demo {
  margin-top: 10px;
  font-family: 'Cutive Mono', monospace;
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  position: relative;
  text-align: center;
}

.text {
  margin-top: 4px;
  font-family: 'Cutive Mono', monospace;
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  position: relative;
  text-align: center;
}

.section {
  position: relative;
  background-color: #000;
  padding: 50px 80px;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones 
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}*/


/*Navbar animations*..................................*/
nav {
  margin : 0 0 0 0;
  width: 100%;
  overflow: hidden;
  list-style: none;
}

.navbar {
  position: relative;
  min-height: 80px;
  background-color: #25274D;
}

.navbar a {
  color: cyan;
  font-size: 18px;
  font-family: 'Quantico', sans-serif;
  text-decoration: bold;
  display: inline;
  margin-left: 15px;
  
  letter-spacing: 2px;
}
.fa.fa-navicon {
  color: cyan;
}

.navbar-toggler:focus {
  outline: none;
}

.section {
  min-height: 100px;
}

.navbar-nav nav-item {

  margin-top: 15px;
}

/*...................................................*/


/*Section headers....................................*/
#home {
  font-family: 'Quantico', sans-serif;
  font-size: 26px;
  color: #fff;
  font-weight: bold;
  position: relative;
}

 #events {
  font-family: 'Orbitron', sans-serif;
  font-size: 35px;
  color: cyan;
  font-weight: bold;
  position: relative;
  text-align: center;
  letter-spacing: 2px;
}

#aboutus, #sponsers {
  font-family: 'Orbitron', sans-serif;
  font-size: 35px;
  color: cyan;
  position: relative;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
}

#contactus {
  font-family: 'Orbitron', sans-serif;
  font-size: 35px;
  color: cyan;
  position: relative;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
}

#section0 {
  position: relative;
  min-height: 100vh;
  background-image: url("img/background-img.jpg");
  min-height: 100%;
  margin-left: -18px;
  margin-right: -40px;
}

.section1 {
  min-height: 100%;
  position: relative;
  background-color: #25274D;
  padding: 50px 80px;
  margin-left: -18px;
  margin-right: -40px;
}

.section2 {
  position: relative;
  background-color: #25274D;
  padding: 50px 80px;
  min-height: 100%;
  margin-left: -18px;
  margin-right: -40px;
}

.section3 {
  min-height: 100%;
  position: relative;
  background-color: #051228;
  padding: 50px 80px;
  margin-left: -18px;
  margin-right: -40px;
}

.section4 {
  position: relative;
  padding: 50px 80px;
  min-height: 100vh;
  background-color: #25274D;
  margin-left: -18px;
  margin-right: -40px;
}

/************ABOUT US PAGE*********************************/

/*counter.................................................*/

.stat {
  padding-top: 30px;
  padding-bottom: 30px;
  background-attachment: fixed;
  position: relative;
  background-color: #fff;
}

.stat i {
  font-size: 40px;
  color: #fff;
}

.stat-items h2 {
  font-weight: bold;
  font-size: 30px;
  color: #000;
  font-family: 'Quantico', sans-serif;
}
.stat p {
  letter-spacing: 1px;
  font-family: 'Quantico', sans-serif;
  color: black;
}

/*counter ends.............................................*/

/*image filters............................................*/

.filter-container{
    padding-top: 15px;
    padding-bottom: 40px;
}
.card{
  width: 500px;
  height: 700px;
  position: relative;
  box-shadow:none;
  display:inline-block;
  margin: 10px;
  border-radius: 5px;
  background-color: #fff;
  text-align: left;
  box-shadow: 2px 3px 12px 0px rgba(0,0,0,0.75);
  transition: all .8s;
}

.card-img-container{
  /*background: url(img/cd-background-1.jpg) center center no-repeat;*/
  background-size:cover;
  height: 300px;
  border-radius: 5px 5px 0 0;
  filter: contrast(1) invert(0.1) sepia(0.5);
  transition: .4s all;
}
.card:hover .card-img-container{
    filter: none;
}
.card-text-container{
  padding: 20px;
  height:250px;
  overflow: hidden;
}
.card-text-container.expanded{
    height: 850px;
}
.card-text-container h2,
.card-text-container p{
    color: #000;
}
.card-text-container h2{
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 30px;
    font-family: 'Quantico',sans-serif;
    text-align: center;
}
.card-text-container p{
    letter-spacing: 1px;
    line-height: 18px;
    font-family: 'Quantico',sans-serif;
}
.card-link-container{
    height:50px;
    position:absolute;
    bottom:0;
    padding: 10px 20px 10px 20px;
}
.card-link-container a{
  color: #892f23;
  font-size: 18px;
  font-weight: bold;
}

.more-link:hover{
    cursor: pointer;
}
.filter-btn-row{
 text-align: center;
 margin-bottom: 30px;
}
.filter-btn{
    margin:5px;
    width: 100px;
    font-size: 18px;
}
.selected{
    background:#f0862c; 
    border: 2px solid #f0862c; 
    color:#fff;
    box-shadow: none; 
}

.card-location{
    display:none;
    font-weight: bold;
}
@media screen and (min-width: 0) and (max-width: 425px){
    .filtered-cards{
        padding:0;
    }
    .card{
        margin: 0px;
        margin-top: 20px;
        border-radius: 5px;
        background-color: #fff;
        text-align: left;
        box-shadow: 2px 3px 12px 0px rgba(0,0,0,0.75);
    }
    .filter-btn{
        width: 100px;
        font-size: 18px;
        margin: 10px;
    }
}
/** Remove img filter on mobile **/
@media screen and (min-width: 0) and (max-width: 768px){
    .card-img-container{
        filter: none;
    }
}

/*image filter ends.........................................*/


/*FOOTER ....................................................*/

.copyright {
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #000;
  max-height: 150px;
  text-align: left;
  font-family: 'Quantico',sans-serif;
  margin-bottom: 0;
}

.copyright p {
  color: #fff;
}

.copyright button {
  background-color: #fff;
  border-radius: 4px;
  text-decoration-color: #000;
  font-weight: bold;
  font-size: 15px;
}

.copyright button:hover {
  text-decoration-color: blue;
}

.copyright i {
  color: #fff;
}

.footer-tab {
  padding-top: 25px;
  background-color: #404040;
  max-height: 500px;
  padding-bottom: 25px;
}

.footer-tab span {
  content: "\2709";
}

.social {
  background-color: #202020;
  padding-bottom: 0;
  margin-bottom: 0;
}

.footer-tab h3 {
  color: #fff;
  font-family: 'Quantico',sans-serif;
  margin-top: 10px;
  font-size: 22px;
}

.footer-tab p {
  color: #ffff;
  font-family: 'Quantico',sans-serif;
  margin-bottom: 10px;
}

.footer-tab i {
  color: #ffff;
  font-family: 'Quantico',sans-serif;
}

.footer-tab span {
  color: #ffff;
  font-family: 'Quantico',sans-serif;
}

hr 
{ display: block; height: 4px;
    border: 0; border-top: 1px solid #000;
    margin: 1em 0; padding: 0; }


/*----------------------------------------------------------*/

.page-footer {
  background-color: #404040;
  margin-left: -20px;
  margin-right: -40px;
  position: relative;
}




/*SPONSERS PAGE STARTS HERE................................*/

  .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
    margin: 0;
  }
  
  .imgs {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 30px 20px 30px 20px;
  }
  
  /* body{
    margin-top: 5px;
  margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
  border-style: solid;
    
 } */
  h2{
      text-align: center;
      color: black
  }

  .infos {
  width: 180px;
    height: 180px;
    border-radius: 50%;
  }
  .infos h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
      font-size: 20px;
    height: 30px;
      margin: 0;
      padding: 55px 0 15px 0;
      text-shadow: 
          0 0 1px #fff, 
          0 1px 2px rgba(0,0,0,0.3);
  }
  
  .infos p {
    font-size: 12px;
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 10px;
    margin: 0 30px;
    line-height: 1.7;
  }
  
  .infos p a {
    text-decoration: none;
    font-size: 200%;
    font-family: 'Quantico',sans-serif;
    letter-spacing: 1px;
    color:cyan;
  }
  
  .info-1 p a:hover {
       color: #b8860b;
  }
  .info-2 p a:hover {
       color: #b8860b;
    }
    .info-3 p a:hover {
       color: #b8860b;
    }
    .info-4 p a:hover {
        color: #b8860b;
    }
    .info-5 p a:hover {
        color: #b8860b;
    }
  
  .info-6  a:hover {
       color: #b8860b;
  }
  
  .info-7 p a:hover {
       color:#b8860b;
  }
  
  .info-8 p a:hover {
       color: #b8860b;
  }
  .info-1 {
    background: rgba(0, 0, 0, 0.8);
    width: inherit;
    height: inherit;
  border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
}
  .img-1 {
    background-image: url("img/sponsers/persistent.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    box-shadow: inset
          0 0 0 20px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.1);
      transition: all 0.4s ease-in-out;
  }
  
  .img-1:hover {
    box-shadow: 
          inset 0 0 0 1px rgba(255, 255, 255, 0.1),
          0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .imgs:hover .infos {
    transform: scale(1);
      opacity: 1;
  }
  
  .info-2 {
    background: rgba(0, 0, 0, 0.8);
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
}
  
.img-2 {
    background-image: url("img/sponsers/tieto.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    box-shadow: inset
          0 0 0 20px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.1);
      transition: all 0.4s ease-in-out;
  }
  
  .img-2:hover {
    box-shadow: 
          inset 0 0 0 1px rgba(255, 255, 255, 0.1),
          0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .info-3 {
    background: rgba(0, 0, 0, 0.8);
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
}
  
.img-3 {
    background-image: url("img/sponsers/monimo.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    box-shadow: inset
          0 0 0 20px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.1);
      transition: all 0.4s ease-in-out;
  }
  
  .img-3:hover {
    box-shadow: 
          inset 0 0 0 1px rgba(255, 255, 255, 0.1),
          0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .info-4 {
    background: rgba(0, 0, 0, 0.8);
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
}
  
.img-4 {
    background-image: url("img/sponsers/meraevent.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    box-shadow: inset
          0 0 0 20px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.1);
      transition: all 0.4s ease-in-out;
  }
  
  .img-4:hover {
    box-shadow: 
          inset 0 0 0 1px rgba(255, 255, 255, 0.1),
          0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .info-5 {
    background: rgba(0, 0, 0, 0.8);
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
}
  
.img-5 {
    background-image: url("img/sponsers/cyber.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    box-shadow: inset
          0 0 0 20px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.1);
      transition: all 0.4s ease-in-out;
  }
  
  .img-5:hover {
    box-shadow: 
          inset 0 0 0 1px rgba(255, 255, 255, 0.1),
          0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .info-6 {
    background: rgba(0, 0, 0, 0.8);
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
}
  
.img-6 {
    background-image: url("img/sponsers/coding.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    box-shadow: inset
          0 0 0 20px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.1);
      transition: all 0.4s ease-in-out;
  }
  
  .img-6:hover {
    box-shadow: 
          inset 0 0 0 1px rgba(255, 255, 255, 0.1),
          0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .info-7 {
    background: rgba(0, 0, 0, 0.8);
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
}
  
.img-7 {
    background-image: url("img/sponsers/urja.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    box-shadow: inset
          0 0 0 20px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.1);
      transition: all 0.4s ease-in-out;
  }
  
  .img-7:hover {
    box-shadow: 
          inset 0 0 0 1px rgba(255, 255, 255, 0.1),
          0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .info-8 {
    background: rgba(0, 0, 0, 0.8);
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
}
  
.img-8 {
    background-image: url("img/sponsers/twisty.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    box-shadow: inset
          0 0 0 20px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.1);
      transition: all 0.4s ease-in-out;
  }
  
  .img-8:hover {
    box-shadow: 
          inset 0 0 0 1px rgba(255, 255, 255, 0.1),
          0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  /*SPONSERS PAGE ENDS HERE................................................*/

  /*EVENTS PAGE STARTS HERE................................................*/



.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.tech-class button h3 {
  font-size: 1em;
  padding: 10px;
  background: #fff;
  color: #000;
  border: 2px solid cyan;
  cursor: pointer;
  transition: all 0.3s ease-out;
  font-family: 'Quantico',sans-serif;
  font-weight: bold;
}

.nontech-class button h3 {
  font-size: 1em;
  padding: 10px;
  background: #fff;
  color: #000;
  border: 2px solid cyan;
  cursor: pointer;
  transition: all 0.3s ease-out;
  font-family: 'Quantico',sans-serif;
  font-weight: bold;
}

.seminar-class button h3 {
  font-size: 1em;
  padding: 10px;
  background: #fff;
  color: #000;
  border: 2px solid cyan;
  cursor: pointer;
  transition: all 0.3s ease-out;
  font-family: 'Quantico',sans-serif;
  font-weight: bold;
  align-items: center;
}

.seminar-class button {
  align-content: center
}

.tech-class button h3:hover {
  background: cyan;
  opacity: .8;
}

.nontech-class button h3:hover {
  background: cyan;
  opacity: .8;
}

.seminar-class button h3:hover {
  background: cyan;
  opacity: .8;
}

.event-header {
  color: #fff;
  font-family: 'Quantico', sans-serif;
  text-align: center;
  font-size: 25px;
  padding: 1em;
  border: 3px;
  border-style: solid;
  border-color: cyan;
}

.overlay {
  position: absolute;
  top: 50;
  bottom: 50;
  left: 100;
  right: 100;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:clicked {
  visibility: visible;
  opacity: 1;
  z-index: 9999;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 9999;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: cyan;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
.modal {
text-align: center;
padding: 0!important;
}

.modal:before {
content: '';
display: inline-block;
height: 100%;
vertical-align: middle;
margin-right: -4px;
}

.modal-dialog {
display: inline-block;
text-align: left;
vertical-align: middle;
}

.modal-body {
  font-size: 17px;
}

.button:focus {
  outline: none;
}

.tech-header {
  font-family: 'Orbitron', sans-serif;
}

  /*EVENTS PAGE ENDS HERE..................................................*/



  /*CONTACTUS PAGE STARTS HERE.............................................*/


  /*CONTACTUS PAGE ENDS HERE.............................................*/



